* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f7f5fb;
  color: #171717;
  padding-bottom: 80px;
}


/* HEADER */

.header {
  height: 70px;
  background: linear-gradient(135deg, #250852, #6120b7);
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;

  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 23px;
  font-weight: 900;
}

.logo span {
  margin-left: 5px;
}

.bell {
  font-size: 23px;
}


/* HERO */

.hero {
  margin: 18px 14px;

  padding: 30px 20px 22px;

  text-align: center;

  border-radius: 25px;

  background:
    radial-gradient(circle at 20% 20%, #7029cf, transparent 30%),
    linear-gradient(135deg, #21064e, #641dbb);

  color: white;

  box-shadow: 0 8px 25px rgba(60, 15, 130, .25);
}

.hero h1 {
  font-size: 30px;
  line-height: 1.08;

  font-weight: 900;
}

.hero h1 span {
  color: #ffd000;
}

.hero h1 strong {
  color: #ffd000;
  font-size: 42px;
}


/* PRIZE ICONS */

.prize-icons {
  display: flex;
  justify-content: space-around;

  margin: 25px 0;
}

.prize-icons p {
  margin-top: 7px;
  font-weight: bold;
}

.circle {
  width: 65px;
  height: 65px;

  border-radius: 50%;

  background: rgba(255,255,255,.15);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 34px;

  border: 1px solid rgba(255,255,255,.3);
}


/* MAIN BUTTON */

.main-btn {
  width: 100%;
  height: 55px;

  border: none;
  border-radius: 14px;

  background: #ffc400;
  color: #111;

  font-size: 17px;
  font-weight: 900;

  cursor: pointer;
}

.main-btn:active {
  transform: scale(.98);
}


/* SECTIONS */

.section {
  padding: 0 15px;
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 20px 3px 12px;
}

.section-title h2 {
  font-size: 21px;
}

.section-title span {
  color: #4b1fa7;
  font-weight: bold;
}


/* PRIZE CARD */

.prize-card {
  background: white;

  border-radius: 18px;

  padding: 14px;

  margin-bottom: 12px;

  display: flex;
  align-items: center;
  gap: 13px;

  box-shadow: 0 3px 15px rgba(0,0,0,.06);
}

.prize-image {
  min-width: 80px;
  width: 80px;
  height: 80px;

  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 43px;
}

.bike {
  background: #eee5ff;
}

.phone {
  background: #e9f0ff;
}

.samsung {
  background: #eeeeee;
}

.prize-info {
  flex: 1;
}

.prize-info h3 {
  font-size: 17px;
  margin-bottom: 3px;
}

.prize-info p {
  color: #666;
  margin-bottom: 5px;
}

.prize-info strong {
  display: block;
  color: #008a3b;
  margin-bottom: 5px;
}

.prize-info small {
  color: #777;
}

.prize-card button {
  background: #4b1fa7;

  color: white;

  border: none;

  border-radius: 9px;

  padding: 11px 14px;

  font-weight: bold;

  cursor: pointer;
}


/* TRUST */

.trust {
  margin: 20px 15px;

  padding: 15px;

  display: flex;
  align-items: center;
  gap: 15px;

  background: #eee7ff;

  border-radius: 15px;
}

.shield {
  font-size: 38px;
}

.trust h3 {
  color: #30106d;
}

.trust p {
  color: #666;
  font-size: 13px;

  margin-top: 4px;
}


/* HOW TO PLAY */

.how {
  background: white;

  padding: 25px 15px;

  margin-top: 20px;
}

.how h2 {
  text-align: center;

  margin-bottom: 20px;
}

.steps {
  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: 12px;
}

.steps div {
  background: #f7f3ff;

  padding: 15px;

  border-radius: 14px;
}

.steps span {
  width: 32px;
  height: 32px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #4b1fa7;

  color: white;

  font-weight: bold;

  margin-bottom: 8px;
}

.steps h3 {
  font-size: 15px;
}

.steps p {
  font-size: 12px;
  color: #777;

  margin-top: 5px;
}


/* BOTTOM NAV */

.bottom-nav {
  position: fixed;

  bottom: 0;
  left: 0;
  right: 0;

  height: 70px;

  background: white;

  border-top: 1px solid #ddd;

  display: flex;

  justify-content: space-around;

  align-items: center;

  z-index: 20;
}

.bottom-nav a {
  display: flex;

  flex-direction: column;

  align-items: center;

  gap: 4px;

  font-size: 21px;

  color: #555;

  text-decoration: none;
}

.bottom-nav span {
  font-size: 11px;
}

.bottom-nav .active {
  color: #4b1fa7;
  font-weight: bold;
}


/* MOBILE */

@media (min-width: 700px) {

  body {
    max-width: 500px;
    margin: auto;
  }

  .header {
    border-radius: 0 0 15px 15px;
  }

  }
